@charset "UTF-8";

:root{
    --cor03: #c1ad9c;
    --cor06: #72735A;   
    --cor07: #F2B9AC;
    --cor08: #594032;
    --cor09: #F2EBDC;
    /*--font-padrao: Arial, Verdana, sans-serif;
    --font-titulo: 'Bebas Neue', 'cursive';*/  
}
